---
layout: default
---

<header>
  <div id="douwemaan">
    <meta itemprop="gender" content="Male" />

    <h1 itemprop="name">
      <span itemprop="givenName">Douwe</span>
      <span itemprop="familyName">Maan</span>
    </h1>
  </div>

  <nav>
    <ul>
      <li>
        <a href="#person">
          <span class="name">Douwe Maan</span> welcomes you
        </a>
      </li>

      <li>
        <a href="#developer">
          <span class="name">Douwe Maan</span> builds software
        </a>
      </li>

      <li>
        <a href="#professional">
          <span class="name">Douwe Maan</span> works hard
        </a>
      </li>

      <li>
        <a href="#social">
          <span class="name">Douwe Maan</span> is social
        </a>
      </li>
    </ul>
  </nav>
</header>

<div class="traits" itemscope itemtype="http://schema.org/Person" itemref="douwemaan">
  <section id="person">
    <h2>
      <span class="name">Douwe Maan</span>
      <span class="verb">welcomes</span> you to his website!
    </h2>

    <ul>
      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">spent</span> his first quarter-century in
        <a href="https://goo.gl/maps/Cf93AcPwVEqERjUS9" target="_blank" itemprop="nationality">the Netherlands</a>
      </li>

      <li itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <meta itemprop="addressCountry" content="Mexico" />

        <span class="name">Douwe Maan</span>
        <span class="verb">lives</span> in the heart of
        <a href="https://goo.gl/maps/TkU87tFte9Di5NoF9" target="_blank" itemprop="addressLocality">Mexico City</a>
        with his wonderful wife Gaby
      </li>

      <li itemprop="worksFor" itemscope itemtype="http://schema.org/Corporation">
        <meta itemprop="legalName" content="Meltano, Inc." />
        <span itemprop="employee" itemscope itemtype="http://schema.org/Person" itemref="douwemaan"></span>

        <span class="name">Douwe Maan</span>
        <span class="verb">builds</span> open source DataOps platform infrastructure at
        <a href="https://meltano.com/" target="_blank" itemprop="url"><span itemprop="name">Meltano</span></a>
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">previously built</span>
        <a href="https://about.gitlab.com/" target="_blank">GitLab</a>
        with an all-remote team
        <a href="https://about.gitlab.com/2017/01/31/around-the-world-in-6-releases/" target="_blank">around the world</a>
      </li>

      <li itemprop="alumniOf" itemscope itemtype="http://schema.org/CollegeOrUniversity">
        <span class="name">Douwe Maan</span>
        <span class="verb">studied</span> Computer Science at
        <a href="https://www.uu.nl/" target="_blank" itemprop="name">Utrecht University</a>
      </li>
    </ul>
  </section>

  <section id="developer">
    <h2>
      <span class="name">Douwe Maan</span>
      <span class="verb">builds</span> great software
    </h2>

    <ul>
      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">has built</span>
        web, mobile, and desktop applications
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">caught</span>
        the programming virus at the age of nine
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">is</span> having a blast with
        <strong>Python</strong>
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">spent</span> close to a decade with
        <strong>Ruby &amp; Ruby on Rails</strong>
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">has been</span> friends with
        <strong>JavaScript, HTML &amp; CSS</strong>
        since primary school
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">spent</span> two years roomed up with
        <strong>Objective-C &amp; Cocoa (Touch)</strong>
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">remembers</span> his days with
        <strong>C# &amp; .NET</strong>
        fondly
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">has had</span> flings with
        <strong>
          Java <small>(Android)</small>,
          C,
          Haskell,
          PHP 4 &amp; 5
        </strong>
      </li>
    </ul>
  </section>

  <section id="professional">
    <h2>
      <span class="name">Douwe Maan</span>
      <span class="verb">has</span> been doing this for a while
    </h2>

    <ul>
      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">builds</span> next-gen open source data tooling at
        <a href="https://meltano.com/" target="_blank">Meltano</a>

        <small>
          (<span title="Previously while at GitLab: engineering lead (Sep 2019&ndash;March 2020); general manager (March 2020&ndash;April 2021)">founder &amp; CEO</span>; Sep 2019&ndash;present)
        </small>
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">helped</span> engineers deliver great software at
        <a href="https://about.gitlab.com/" target="_blank">GitLab</a>

        <small>
          (<span title="Previously: developer (Feb 2015&ndash;Jan 2016); backend lead (Feb 2016&ndash;Oct 2017)">engineering manager</span>; Feb 2015&ndash;Aug 2019)
        </small>
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">made</span>
        <span style="letter-spacing: -1px;">B&amp;B</span>
        owners&rsquo; lives easier at
        <a href="http://www.stinngo.com/" target="_blank">Stinngo</a>

        <small>
          (co-founder &amp; CTO; Jan 2012&ndash;<span title="Became a maintenance-only side project in Dec 2014 after 3 years full time">present</span>)
        </small>
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">built</span> nifty iOS and Mac apps at
        <a href="http://www.studiodalton.com/" target="_blank">StudioDalton</a>
        <small>(lead developer; Jan 2011&ndash;Aug 2012)</small>
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">combined</span> high school with freelance PHP 4 &amp; 5 web development
        <small>(2005&ndash;2010)</small>
      </li>
    </ul>
  </section>

  <section id="social">
    <h2>
      <span class="name">Douwe Maan</span>
      <span class="verb">is</span> social
    </h2>

    <ul>
      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">works</span> completely in the open at
        <a href="https://github.com/DouweM" target="_blank">github.com/DouweM</a>
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">contributes</span> additionally via
        <a href="https://gitlab.com/DouweM" target="_blank">gitlab.com/DouweM</a>
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">occasionally tweets</span> as
        <a href="https://twitter.com/DouweM" target="_blank">@DouweM</a>
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">reads</span> email sent to
        <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#104;&#105;&#64;&#100;&#111;&#117;&#119;&#101;&#46;&#109;&#101;"><span itemprop="email">&#104;&#105;&#64;&#100;&#111;&#117;&#119;&#101;&#46;&#109;&#101;</span></a>
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">has</span> prepared a
        <a href="/Douwe%20Maan.vcf">vCard</a>
        specially for you
      </li>
    </ul>
  </section>

  <section>
    <ul>
      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">hosts</span>
        <a href="https://gitlab.com/DouweM/douwem.gitlab.io" target="_blank">this website</a>
        on GitLab Pages
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">holds</span> the copyright to this site, obviously
      </li>
    </ul>
  </section>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
<script type="text/javascript" src="/javascripts/yoda.js"></script>
