$background-color-light: white;
$text-color-light: #111;
$link-color-light: #0046AA;

$background-color-dark: #1c1c1c;
$text-color-dark: #eee;
$link-color-dark: hsl(210, 50%, 72%);

$header-width:    40%;
$gutter-width:    10px;

$name-font-size:  30px;
$name-height:     $name-font-size + 10px;

$nav-font-size:   16px;

$trait-font-size: 20px;
$trait-height:    $trait-font-size + 6px;
$trait-padding:   11px 0 9px 0;

@import url("//fonts.googleapis.com/css?family=PT+Sans:400,700");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: $background-color-light;
  color: $text-color-light;
  
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  @media (prefers-color-scheme: dark) {
    background-color: $background-color-dark;
    color: $text-color-dark;
  }

  a {
    color: $link-color-light;
    text-decoration: none;
    
    @media (prefers-color-scheme: dark) {
      color: $link-color-dark;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: $header-width;

    text-align: right;

    h1 {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -($name-height / 2);
      line-height: $name-height;

      font-size: $name-font-size;
      font-weight: bold;

      a {
        color: inherit;

        &:hover {
          text-decoration: none;
          color: $link-color-light;
    
          @media (prefers-color-scheme: dark) {
            color: $link-color-dark;
          }
        }
      }
    }

    nav {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: ($name-height / 2);

      font-size: $nav-font-size;

      ul {
        width: 100%;
        list-style: none;

        li {
          padding: 2px 0;

          span {
            display: none;
          }
        }
      }
    }
  }

  .traits {
    position: absolute;
    left: 0;
    margin-left: $header-width;
    top: 50%;
    padding-left: $gutter-width;

    text-align: left;

    section {
      position: relative;
      margin-bottom: 30px;

      h2 {
        line-height: $name-height;

        font-size: $name-font-size;
        font-weight: bold;
      }

      ul {
        list-style: none;

        li {
          padding: $trait-padding;
          line-height: $trait-height;
          height: $trait-height;

          font-size: $trait-font-size;

          span.name {
            display: none;
          }
        }
      }

      &:first-child h2 {
        margin-top: -($name-height / 2);
      }

      &:last-child {
        margin-bottom: 0;
      }

      h2, li {
        span.name {
          display: none;
        }

        small {
          font-size: 0.9em;
          font-style: italic;
        }

        strong small {
          font-style: normal;
        }

        [title] {
          display: inline-block;
          line-height: 18px;

          border-bottom: 1px dashed $text-color-light;

          @media (prefers-color-scheme: dark) {
            border-bottom-color: $text-color-dark;
          }
        }

        a[title] {
          border-bottom: 1px dashed $link-color-light;

          @media (prefers-color-scheme: dark) {
            border-color: $link-color-dark;
          }

          &:hover {
            border-width: 0;
          }
        }
      }
    }
  }
}

// Devices with a screen at least 320px and at most 600px wide, such as smartphones
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  $site-padding: 10px;

  body {
    width: 100%;
    -webkit-text-size-adjust: none;

    header {
      bottom: auto;
      padding: $site-padding;
      padding-right: 0;
      padding-bottom: 0;

      h1, nav {
        position: relative;
        margin: 0;
      }
    }

    .traits {
      top: 0;
      margin: 0;
      right: $site-padding;

      background-color: $background-color-light;

      @media (prefers-color-scheme: dark) {
        background-color: $background-color-dark;
      }

      section {
        h2 {
          margin: 0 !important;
        }

        li {
          height: auto !important;
        }
      }
    }
  }

  // Devices with a screen at most 370px wide, in portrait, such as iPhones
  @media (max-device-width: 370px) and (orientation: portrait) {
    $header-side-width: 92px; // Approximate width of first name
    $gutter-width:      5px;

    body {
      header {
        width: auto;

        text-align: left;

        h1 {
          // Workaround for MobileSafari rendering glitch.
          // When scrolling down from the top, the "Maan" part of the header
          // would only be hidden after the touch ended.
          padding-bottom: 100px;
          margin-bottom: -100px;
        }

        nav {
          display: none;
        }
      }

      .traits {
        margin-top: $site-padding + $name-height + 10px;
        margin-left: $site-padding + $header-side-width;
        padding-left: $gutter-width;
      }
    }
  }

  // Devices with a screen at most 370px wide, in landscape, such as iPhones; or
  // Devices with a screen at least 371px (and at most 600px) wide, such as larger smartphones
  @media (max-device-width: 370px) and (orientation: landscape), (min-device-width: 371px) {
    $header-side-width: 190px; // Approximate width of full name
    $gutter-width:      10px;

    body {
      header {
        width: $header-side-width;

        text-align: right;

        nav {
          display: block;
          position: relative;
          left: 0;
        }
      }

      .traits {
        margin-top: $site-padding;
        margin-left: $site-padding + $header-side-width;
        padding-left: $gutter-width;
      }
    }
  }
}
