@import url("//fonts.googleapis.com/css?family=PT+Sans:400,700");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: white;
  color: #111;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1c1c1c;
    color: #eee;
  }
}
body a {
  color: #0046AA;
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  body a {
    color: #94b8db;
  }
}
body a:hover {
  text-decoration: underline;
}
body header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 40%;
  text-align: right;
}
body header h1 {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -20px;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
}
body header h1 a {
  color: inherit;
}
body header h1 a:hover {
  text-decoration: none;
  color: #0046AA;
}
@media (prefers-color-scheme: dark) {
  body header h1 a:hover {
    color: #94b8db;
  }
}
body header nav {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: 20px;
  font-size: 16px;
}
body header nav ul {
  width: 100%;
  list-style: none;
}
body header nav ul li {
  padding: 2px 0;
}
body header nav ul li span {
  display: none;
}
body .traits {
  position: absolute;
  left: 0;
  margin-left: 40%;
  top: 50%;
  padding-left: 10px;
  text-align: left;
}
body .traits section {
  position: relative;
  margin-bottom: 30px;
}
body .traits section h2 {
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
}
body .traits section ul {
  list-style: none;
}
body .traits section ul li {
  padding: 11px 0 9px 0;
  line-height: 26px;
  height: 26px;
  font-size: 20px;
}
body .traits section ul li span.name {
  display: none;
}
body .traits section:first-child h2 {
  margin-top: -20px;
}
body .traits section:last-child {
  margin-bottom: 0;
}
body .traits section h2 span.name, body .traits section li span.name {
  display: none;
}
body .traits section h2 small, body .traits section li small {
  font-size: 0.9em;
  font-style: italic;
}
body .traits section h2 strong small, body .traits section li strong small {
  font-style: normal;
}
body .traits section h2 [title], body .traits section li [title] {
  display: inline-block;
  line-height: 18px;
  border-bottom: 1px dashed #111;
}
@media (prefers-color-scheme: dark) {
  body .traits section h2 [title], body .traits section li [title] {
    border-bottom-color: #eee;
  }
}
body .traits section h2 a[title], body .traits section li a[title] {
  border-bottom: 1px dashed #0046AA;
}
@media (prefers-color-scheme: dark) {
  body .traits section h2 a[title], body .traits section li a[title] {
    border-color: #94b8db;
  }
}
body .traits section h2 a[title]:hover, body .traits section li a[title]:hover {
  border-width: 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  body {
    width: 100%;
    -webkit-text-size-adjust: none;
  }
  body header {
    bottom: auto;
    padding: 10px;
    padding-right: 0;
    padding-bottom: 0;
  }
  body header h1, body header nav {
    position: relative;
    margin: 0;
  }
  body .traits {
    top: 0;
    margin: 0;
    right: 10px;
    background-color: white;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (prefers-color-scheme: dark) {
  body .traits {
    background-color: #1c1c1c;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  body .traits section h2 {
    margin: 0 !important;
  }
  body .traits section li {
    height: auto !important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (max-device-width: 370px) and (orientation: portrait) {
  body header {
    width: auto;
    text-align: left;
  }
  body header h1 {
    padding-bottom: 100px;
    margin-bottom: -100px;
  }
  body header nav {
    display: none;
  }
  body .traits {
    margin-top: 60px;
    margin-left: 102px;
    padding-left: 5px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (max-device-width: 370px) and (orientation: landscape), only screen and (min-device-width: 320px) and (max-device-width: 600px) and (min-device-width: 371px) {
  body header {
    width: 190px;
    text-align: right;
  }
  body header nav {
    display: block;
    position: relative;
    left: 0;
  }
  body .traits {
    margin-top: 10px;
    margin-left: 200px;
    padding-left: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
